#block-pe-hp-panes-page-elements-hp-panes .page-element-inner {
  padding: 50px 0;
}
#block-pe-hp-panes-page-elements-hp-panes .page-element-inner > .node__content .field--name-field-pe-link a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 0;
  font-size: 0;
  color: transparent;
}
#block-pe-hp-panes-page-elements-hp-panes .page-element-inner > .node__content .field--name-field-pe-media {
  text-align: center;
}
