#block-pe-hp-panes-page-elements-hp-panes {
  & > .block__content {
    & > .node--page-element--full {
      display: table;
      height: 100%;
      width: 100%;
    }
  }
}

.page-element-inner {
  position: relative;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  .swiper-next,
  .next-slide-btn {
    position: absolute; left: 50%; bottom: 0;
    width: 52px; height: 52px;
    margin-left: 45px;
    background: rgba(0,0,0,0.75) inline-image('next-arrow.png') no-repeat center;
    border-radius: 26px;
    cursor: pointer;
    -webkit-transition: transform .8s ease-in;
    -moz-transition: transform .8s ease-in;
    transition: transform .8s ease-in;
    &:hover, &:focus {
      transform: translateY(10px);
    }
  }
}

.views-row-last .node--page-element .next-slide-btn {
  display: none;
}